@font-face{
    font-family: 'Cera pro';
    src: url("../fonts/cera-pro/CeraPro-Regular.eot");
    src: url("../fonts/cera-pro/CeraPro-Regular.eot#iefix")format('embedded-opentype'),
        url("../fonts/cera-pro/CeraPro-Regular.ttf") format('truttype'),
        url("../fonts/cera-pro/CeraPro-Regular.woff") format('woff'),
        url("../fonts/cera-pro/CeraPro-Regular.woff2") format('woff2');
    font-weight: 400;
}
@font-face{
    font-family: 'Cera pro';
    src: url("../fonts/cera-pro/CeraPro-Medium.eot");
    src: url("../fonts/cera-pro/CeraPro-Medium.eot#iefix")format('embedded-opentype'),
        url("../fonts/cera-pro/CeraPro-Medium.ttf") format('truttype'),
        url("../fonts/cera-pro/CeraPro-Medium.woff") format('woff'),
        url("../fonts/cera-pro/CeraPro-Medium.woff2") format('woff2');
    font-weight: 500;
}
@font-face{
    font-family: 'Cera pro';
    src: url("../fonts/cera-pro/CeraPro-Bold.eot");
    src: url("../fonts/cera-pro/CeraPro-Bold.eot#iefix")format('embedded-opentype'),
        url("../fonts/cera-pro/CeraPro-Bold.ttf") format('truttype'),
        url("../fonts/cera-pro/CeraPro-Bold.woff") format('woff'),
        url("../fonts/cera-pro/CeraPro-Bold.woff2") format('woff2');
    font-weight: 700;
}
@font-face{
    font-family: 'Cera pro';
    src: url("../fonts/cera-pro/CeraPro-Black.eot");
    src: url("../fonts/cera-pro/CeraPro-Black.eot#iefix")format('embedded-opentype'),
        url("../fonts/cera-pro/CeraPro-Black.ttf") format('truttype'),
        url("../fonts/cera-pro/CeraPro-Black.woff") format('woff'),
        url("../fonts/cera-pro/CeraPro-Black.woff2") format('woff2');
    font-weight: 900;
}

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
}

.main{ 
    padding: 30px 120px 13px 120px;
}

/* head *//////////////////////////////////////////////////////////////////////////////////////////////////

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.50);
    font-family: "Cera pro";
}

.nav{
    display: flex;
    gap: 50px;
}

.nav-items, .list3-in-nav{
    font-weight: 400;
    color: #3D3D3D;
    font-size: 16px;
    padding: 8px 0 25px;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    position: relative;
    transition: all .3s ;
}
.list3-in-nav{
    width: 90px;
}
.list3-in-nav > a{
    color: #3D3D3D;
}

.nav-items:hover{
    font-weight: 700;
    border-bottom: 3px solid #46A358;
    padding-left: 0px;
}
.menu_1{
    display: none;
    position: absolute;
    top: 69px;
    left: -56px;
    position: relative;
}
.list3-in-nav:hover > div > .menu_1{
    display: block;
    position: absolute;
    top: 37px;
    width: 188px;
    background-color: #EDF6EE;
}
.list3-in-nav:hover > .menu_1-div{
    display: block;
    position: absolute;
}
.menu_1-div:hover > .menu_1{
    display: block;
    position: absolute;
    top: 37px;
    width: 188px;
    background-color: #EDF6EE;
}
.menu_1-div{
    position: relative;
    width: 188px;
    height: 143px;
    display: none;
}

.menu_1 > li{
    padding: 7px  0px 8px 14px;
    color: #3D3D3D;
    font-family: "Encode Sans Expanded";
    font-size: 16px;
    font-weight: 400;
    align-items: center;
}
.last-menu-li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    > svg{
        margin-right: 13px;
    }
}
.login-button{
    border-radius: 6px;
    background: #46A358;
    padding: 8px 17px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: auto;
}
.menu_Priming{
    position: absolute;
    display: none;
}
.menu_Priming > li{
    padding: 7px 14px 8px;
    background: #EDF6EE;
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
}
.last-menu-li:hover > div > .menu_Priming{
    width: 178px;
    display: block;
}
.last-menu-li:hover .menu_Priming-div{
    display: block;
    position: absolute;
    top: 0px;
    left: 188px;
}
.menu_Priming-div{
    position: relative;
    width: 188px;
    height: 143px;  
    display: none;
    padding-left: 2px;
}
.last-menu-li:hover{
    background: #1A712A;
    font-weight: 700;
    color: #fff;
    > svg > path{
        fill: #fff;
        transition: all .8s;
    }
    transition: background-color .8s;
}

/* buner */////////////////////////////////////////////////////////////////////////////////////////////////////////////

.main-buner{
    background: -webkit-linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    background:    -moz-linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    background:         linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    margin-top: 12px;
    padding: 68px 43px;
    display:flex;
    justify-content: space-between;
    font-family: "Cera pro";
}

.div1{
    margin-bottom: 7px;
    color: #3D3D3D;
    font-size: 14px;
    line-height: 16px; 
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-weight: 500px;
}

.div2, .div2 span{ 
    margin-bottom: 5px;
    color: #3D3D3D;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    max-width: 530px;
    text-transform: uppercase;
    font-weight: 900px;
}

.div2 span{
    color: #46A358;
}

.div3{
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    max-width: 557px;
    margin-bottom: 44px;
    font-weight: 400;
}

.shop-button{
    padding: 10px 26px;
    background-color: #46A358;
    border-radius: 6px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}



/* 7-8 hw *////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.hw7{
    margin-top: 103px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-family: "Cera pro";
}

.left-site{
    display: flex;
    flex-direction: column;
}
.Categories{
    background-color: #FBFBFB;
    padding: 14px 18px 377px;
}
.Categories-ul{
    margin: 7px 12px;
}
.Categories-li{
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;

    > .Categories-label{
        display: flex;
    justify-content: space-between;
    
        > input{
            display: none;
        }
    
        > input:checked ~ .Categories-li> div{
            color: red;
        }
    }
}
.Categories-label > input:checked ~ .Categories-checkbox-div{
    color: #46A358;
    font-weight: 700;
    transition: font-weight .4s;
}

.Categories-label-1 > input:checked  #orb-checkbox{
    color: red;
}

#orb-checkbox{
    width: 10px;
    height: 10px;
    background: #46A358;
    border-radius: 5px;
}

.Categories span{
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 700;
}
.short-by{
    display:flex;
    height: 23px;
    justify-content: space-between;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 30px;
}
.short-by ul:first-child{
    display: flex;
    gap: 14px;
}
.short-by ul:last-child{
    display: flex;
    gap: 5px;
    align-items: center;
}

.products{
    display: flex;
    flex-flow: row wrap;
    gap: 33px 70px;
    justify-content: center ;
}
.name-product{
    margin: 12px 0px 6px;
    display: inline-block;
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
}
.cena-product{
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
}

.prodict-image-contaner-1{
    padding: 31px 4px 19px ;
    background: #FBFBFB;
    display: inline-block;
}
.prodict-image-contaner-2{
    padding: 25px 4px;
    background: #FBFBFB;
    display: inline-block;
}
.prodict-image-contaner-3{
    padding: 24px 4px 26px;
    background: #FBFBFB;
    display: inline-block;
}
.prodict-image-contaner-4{
    padding: 6px 13px 8px 21px;
    background: #FBFBFB;
    display: inline-block;
}
.prodict-image-contaner-5{
    padding: 23px 4px 27px;
    background: #FBFBFB;
    display: inline-block;
}
.prodict-image-contaner-6{
    padding: 23px 4px 27px;
    background: #FBFBFB;
    display: inline-block;
}
.prodict-image-contaner-7{
    padding: 18px 4px 32px;
    background: #FBFBFB;
    display: inline-block;
}
.prodict-image-contaner-8{
    padding: 28px 4px 22px;
    background: #FBFBFB;
    display: inline-block;
}
.prodict-image-contaner-9{
    padding: 19px 4px 31px;
    background: #FBFBFB;
    display: inline-block;
}
.icons3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 67px;
    left: 67px;
    display: none;
    > div{
        background-color: #FFF;
        border-radius: 4px;
        height: 35px;
    }
    > .shop-icon{
        padding: 8px 9px 7px 6px;
    }
    > .heart-icon{
        padding: 8px 8px 7px 7px;
    }
    > .lupa-icon{
        padding: 7px 6.1px 8px 9px;
    }
}
.products > div:hover > .icons3{
    display: flex;
}
.products > div{
    border-top: 1px solid transparent;
    transition: all .4s;
}
.products > div:hover{
    border-top: 1px solid #46A358;
}
.products > div{
    position: relative;
}
.discount13{
    position: absolute;
    top: 14px;
    left: 0;
    padding: 6px 9px;
    background: #46A358;
    // display: none;
    > span{
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
    }
}
// .products > div:hover > .discount13{
//     display: block;
// }

.strnum2{
    display: flex;
    gap: 10px;
}
.strnum2 div{
    border: 1px solid #E5E5E5;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 300;
    border-radius: 4px;
}
.strnum2 div:first-child {
   background-color: #46A358;
   color: #fff;
}
.strnum-div{
    display: flex;
    justify-content: end;
    margin-top: 90px;
}

/* 02 */////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.em02{
    margin-top: 146px;
    gap: 28px;
    display: flex;
    font-family: "Cera Pro";
    flex-flow: row wrap;
    justify-content: center;
    div{
        width: 586px;
        position: relative;
        background-color: #FBFBFB;
        display: flex;
        > div{
            display: flex;
            flex-flow: column ;
            align-items: end;
            padding: 37px 45px 46px 10px;    
            gap: 10px;
            height: 250px;
            > span:nth-child(2){
                width: 292px;
            }
        }
            button:nth-child(3){
            margin-top: 15px;
            padding: 10px 27px;
            gap: 2px;
            border-radius: 6px;
            background: #46A358;
            color: #FFF;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
        }
        span{
            text-align: end;
        }
    }
    > div:nth-child(1) > img{
        position: absolute;
        top: -52px;
        z-index: 1;
    }
    > div:nth-child(2) > img{
        position: absolute;
        top: -45px;
        z-index: 1;
    }
}

.em02 div:nth-child(2) div span:nth-child(1){
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px; /* 133.333% */
    text-transform: uppercase;
    max-width: 146px;
}
.em02 div:nth-child(1) div span:nth-child(1){
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px; /* 133.333% */
    text-transform: uppercase;
    max-width: 150px;
}

/* blog *////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Blog{
    // у меня был ещё один вариант, сдеелать .blog align-items: center; но тогда для .react-box justify-content: space-between; не раборал
    margin-top: 138px;
    display: flex;
    flex-direction: column;
    font-family: "Cera pro";
    align-items: center;
    > h2{
        color: #3D3D3D;
        font-size: 30px;
        font-weight: 700;
        line-height: 16px; /* 53.333% */
        margin-bottom: 15px;
        // align-self: center;
    }
    > span:nth-child(2){
        color: #727272;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        margin-bottom: 35px;
        // align-self: center;
    }
    > .rectangle-box{
        display: flex;
        flex-flow: row wrap;
        gap: 44px;
        justify-content: space-between;
        > div{
            max-width: 268px;
            
            > div{
                background: #FBFBFB;
                padding: 9px 33px 13px 13px;
                gap: 4px;
            > a{
                margin-top: 5px;
                color: #3D3D3D;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px; /* 114.286% */
                text-decoration: none;
                align-items: center;
                text-align: center;
            }
            > div:nth-child(1){
                color: #46A358;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px; /* 114.286% */
            }
            > div:nth-child(2){
                color: #3D3D3D;
                font-size: 20px;
                font-weight: 700;
                line-height: 26px; /* 130% */
            }
            > div:nth-child(3){
                color: #727272;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px; /* 157.143% */
            }
            }
        }
        > div:nth-child(1) > div{
            > div:nth-child(1){
                color: #46A358;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px; /* 114.286% */;
            }
            > div:nth-child(2){
                color: #3D3D3D;
                font-size: 20px;
                font-weight: 700;
                line-height: 26px; /* 130% */
            }
            > div:nth-child(3){
                color: #727272;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px; /* 157.143% */
            }
        }
        > div:nth-child(3) > div > a{
            color: #46A358;
        }
    }
}

.rectangle-text1_2{
    width: 189px;
}
.rectangle-text1_3{
    width: 242px;
}
.rectangle-text2_2{
    width: 202px;
}
.rectangle-text2_3{
    width: 242px;
}
.rectangle-text3_2{
    width: 174px;
}
.rectangle-text3_3{
    width: 242px;
}
.rectangle-text4_2{
    width: 169px;
}
.rectangle-text4_3{
    width: 242px;
}
//bacgroudn ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.background{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div1-in-background{
    padding: 25px;
    background: #FBFBFB;
    margin-top: 100px;
    justify-content: center;
    display: flex;
    gap: 1.81vw;
    width: 83.33vw;
    justify-content: space-between;
}

.Rectangle-greenline{
    margin-top: 6px;
    height: 187px;
    width: 1px;
    background: rgba(70, 163, 88, 0.10);
}

//ananas
.Garden-Care{
    margin-right:  0.56vw;
}

.ananas-svg-box{
    position:relative;
    left: 0px;
    width: 76px;
    height: 100px;

    > .svg-ananas1{
        background-image: url("../svg/ananas/Ellipse 9.svg");
        width: 74px;
        height: 74px;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    > .svg-ananas2{
        background-image: url("../svg/ananas/Frame-1.svg");
        width: 61px;
        height: 46px;
        position: absolute;
        right: 0px;
        bottom: 49px;
    }

    > .svg-ananas3{
        background-image: url("../svg/ananas/Frame.svg");
        width: 55px;
        height: 48px;
        position: absolute;
        right: 3px;
        bottom: 2px;
    }
}

.text1-in-ananansdiv{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 17px;
    font-weight: 700;
    line-height: 16px; /* 94.118% */
    margin-top: 15px;
}

.text2-in-ananansdiv{
    color: #727272;
    font-family: "Cera Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    max-width: 204px;
    margin-top: 9px;
}

//kaktus
.Plant-Renovation{
    margin-left: 0.069vw;
}

.kaktus-svg-box{
    position:relative;
    left: 0px;
    width: 83px;
    height: 90px;
    margin-top: 5px;

    > .svg-kaktus1{
        background-image: url('../svg/kaktus/Ellipse 10.svg');
        width: 74px;
        height: 74px;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    > .svg-kaktus2{
        background-image: url('../svg/kaktus/Frame-1.svg');
        width: 35px;
        height: 39px;
        position: absolute;
        right: 17px;
        top: 0px;
    }

    > .svg-kaktus3{
        background-image: url('../svg/kaktus/Frame.svg');
        width: 68px;
        height: 49px;
        position: absolute;
        right: 0px;
        bottom: 3px;
    }
}

.text1-in-kaktusdiv{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 17px;
    font-weight: 700;
    line-height: 16px; /* 94.118% */
    margin-top: 15px;
}

.text2-in-kaktusdiv{
    color: #727272;
    font-family: "Cera Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    max-width: 204px;
    margin-top: 9px;
}
//leika
.Watering-Graden{
    margin: 0 36px 0 9px;
}

.leika-svg-box{
    position:relative;
    left: 0px;
    width: 90px;
    height: 89px;
    margin-top: 6px;

    > .svg-leika1{
        background-image: url('../svg/leika/Ellipse 11.png');
        width: 74px;
        height: 74px;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    > .svg-leika2{
        background-image: url('../svg/leika/Frame-1.png');
        width: 83px;
        height: 40px;
        position: absolute;
        right: 0px;
        bottom: 4px;
    }

    > .svg-leika3{
        background-image: url('../svg/leika/Frame.png');
        width: 44px;
        height: 49px;
        position: absolute;
        right: 15px;
        top: 0px;
    }
}

.text1-in-leikadiv{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 17px;
    font-weight: 700;
    line-height: 16px; /* 94.118% */
    margin-top: 15px;
}

.text2-in-leikadiv{
    color: #727272;
    font-family: "Cera Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    max-width: 204px;
    margin-top: 9px;
}
//would you like

.Would-you-like{
    margin-left: 2.22vw;
}

.text1-in-Would-you-like{
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 18px;
    font-weight: 700;
    margin:12px 0 18px 0
}

.input-and-joinbutton-form{
    position: relative;
    width: 354px;

    > input{
        background: #FFF;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
        width: 100%;
        height: 40px;
        border-radius: 6px;
        padding: 12px 11px;
    }
    > input::placeholder{
        color: #ACACAC;
        font-family: "Cera Pro";
        font-size: 14px;
        font-weight: 400;
        line-height: 16px; /* 114.286% */
    }
    > button{
        background: #46A358;
        border-radius: 0px 6px 6px 0px;
        width: 85px;
        height: 40px;
        color: #FFF;
        font-family: "Cera Pro";
        font-size: 18px;
        font-weight: 700;
        line-height: 16px; /* 88.889% */
        position: absolute;
        top: 0px;
        right: 0px;
    }
}
.text2-in-Would-you-like{
    color: #727272;
    font-family: "Cera Pro";
    font-size: 13px;
    font-weight: 400;
    line-height: 22px; /* 169.231% */
    width: 354px;
    margin-top: 17px;
}
// div2//////////////////////////

.div2-inbackground{
    background: -webkit-linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
    background:    -moz-linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
    background:         linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
    align-items: center;
    border-top: 1px solid #46a3591e;
    border-bottom: 1px solid #46a3593f;
    display: flex;
    padding: 25px;
    width:  83.33VW;
    // width: ;

    > .div2_1-inbackground{
        margin: 0px 60px 0 87px;
        display: flex;
        align-items: center;

        > div{
            color: #3D3D3D;
            font-family: "Cera Pro";
            font-size: 14px;
            font-weight: 400;
            line-height: 22px; /* 157.143% */
            width: 176px;
            margin-left: 12.75px;
        }
    }
    > .div2_2-inbackground{
        margin-right: 73px;
        display: flex;
        align-items: center;

        > svg{
            position: relative;
            top: 0.1px;
        }
        > div{
            color: #3D3D3D;
            font-family: "Cera Pro";
            font-size: 14px;
            font-weight: 400;
            line-height: 22px; /* 157.143% */
            margin-left: 12.08px;
        }
    }
    > .div2_3-inbackground{
        display: flex;
        align-items: center;

        > svg{
            position: relative;
            top: 1.59px;
        }
        > div{
            color: #3D3D3D;
            font-family: "Cera Pro";
            font-size: 14px;
            font-weight: 400;
            line-height: 22px; /* 157.143% */
            margin-right: 267px;
            margin-left: 10.17px;
        }
    }
}
//div3////////////////////////////
.div3-inbackground{
    background: #FBFBFB;
    padding: 33px 0px 29px 23px;
    display: flex;
    border-bottom: rgba(70, 163, 88, 0.20) solid 1px;
    width:  83.33VW;
    justify-content: space-between;
    
    > .div3_1-inbackground{
        display: flex;
        gap: 50px;
        justify-content: space-between;
        width: 43.40vw;

        > .ul-in-div3-inbackground{
            > li:first-child{
                color: #3D3D3D;
                font-family: "Cera Pro";
                font-size: 18px;
                font-weight: 700;
                line-height: 16px; /* 88.889% */
                margin-bottom: 8px;
            }
            > li{
                color: #3D3D3D;
                font-family: "Cera Pro";
                font-size: 14px;
                font-weight: 400;
                line-height: 30px; /* 214.286% */
            }
        }
    }
    .div3_2-inbackground{
        display: flex;
        flex-direction: column;
        margin-right: 10.76vw;

        > .text1-in-div-in-div3-inbackground{
            color: #3D3D3D;
            font-family: "Cera Pro";
            font-size: 18px;
            font-weight: 700;
            line-height: 16px; /* 88.889% */
            margin-bottom: 20px;
        }
        > .icons-f_i_t_l_y{
            display: flex;
            margin-bottom: 33px;
            gap: 10px;
            > div{
                border: 1px solid rgba(70, 163, 88, 0.20);
                border-radius: 4px;
                width: 31px;
                height: 31px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        > .text2-in-div-in-div3-inbackground{
            color: #3D3D3D;
            font-family: "Cera Pro";
            font-size: 18px;
            font-weight: 700;
            line-height: 16px; /* 88.889% */
            margin-bottom: 13px;
        }
        > .cards-icons4{
            background-image: url('../img/main img/cards.png');
            width: 224px;
            height: 26px;
            background-repeat: no-repeat;
        }
    }
}
.end{
    margin-top: 7px;
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px; /* 214.286% */
}