body{
    background-color: rgba(245, 245, 245, 0.50);
}

.loader{
    width: 100vw;
    height: 100vh;
    background-color: rgba(245, 245, 245, 0.50);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.load-circle{
    height: 30vh;
    width: 30vh;
    border-right: .6vw solid #46A358;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin .8s linear infinite;
}

.loading-text{
    color: #3D3D3D;
    font-family:monospace;
    position: absolute;
}

@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}


/* .list{
    width: 100px;
    height: 200px;
    background: rgb(36, 172, 21);
    position: absolute; 
    left: 500px;
    animation: spin-list 4s ease-in-out alternate infinite;
}

@keyframes spin-list{
    0%{ 
        transform: rotate(-10deg);
        opacity: 1;
    }
    100%{ 
        transform: rotate(730deg);
        opacity: .1;
    }
} */